@import './colors';

body {
  background-color: $background-color;
  color: $font-color;
}

.auth-dialog {
  background-color: $background-color;
  color: $black;
}

.auth-btn {
  padding: 20px;
}

.box {
  border: 2px solid $black;
  padding: 0;
}

.cell-height-width {
  height: 200px;
  padding: 0;
  width: 200px;
}

.ttt-cell {
  color: $black;
  // font-family: 'verbana';
  font-size: 100px;
  // font-weight: '800';
  text-align: center;
}
